* { padding: 0; margin: 0; }
html, body, #content {
    min-height: 100% !important;
    height: 100%;
}

body { 
  background: transparent center center;
  min-height: 100%;
}

#content {
    width: 75%;
    background: white;
    float: right;
}
