/*For star twinkling background:;
Based on tutorial by 
http://www.script-tutorials.com/night-sky-with-twinkling-stars/
*/

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes introFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .9;
  }
  70% {
    opacity: .9;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes introFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .9;
  }
  70% {
    opacity: .9;
  }
  100% {
    opacity: 0;
  }
}

@keyframes introStayDark {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes introStayDark {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

html {
  background:#000 url(stardust.jpg) repeat center center;
}

body {
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  background:transparent url(twinkling.png) repeat center center;
  z-index:-1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.container {
  position: relative;
  top: -1em;
}

div button {
  position: absolute;
  height: 4em;
  width: 4em;
  font-size: 1em;
  color: #687497;
  font-family: 'Noto Serif', serif;
  text-align: center;
  opacity: .25;
  top: -9999em;
  right: -4em;
}

a:hover, a:visited, a:link, a:active {
  height: 100%;
  width: 100%;
  font-size: 1.5em;
  text-decoration: none;
  color: #687497;
  font-family: 'Noto Serif', serif;
  text-align: center;
  opacity: .5;
}

.const {
  width: 11em;
  height: 11em;
}

.const .lines { 
  width: 11em;
  height: 11em;
  -webkit-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;

  -webkit-animation: introFade 8s ease-in-out 2s;
          animation: introFade 8s ease-in-out 2s;
  
}

.const:hover .lines {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

#AB.const {
  width: 12.5em;
  height: 12.5em;
  background: url(icons/cons_AB.png);
  background-size: cover;
}

#AB.lines {
  width: 12.5em;
  height: 12.5em;
  background: url(icons/lines_AB.png);
  background-size: cover;
}

#AB p {
  position: relative;
  top: 8em;
  left: 7em;
  -webkit-animation: introStayDark 8s 2s;
          animation: introStayDark 8s 2s;
}

#blog.const {
  margin-top: 1em;
  background: url(icons/cons_blog.png);
  background-size: cover;
}

#blog.lines {
  margin-top: 1em;
  background: url(icons/lines_blog.png);
  background-size: cover;
}

#blog p {
  position: relative;
  top: -.5em;
  -webkit-animation: introStayDark 8s 2s;
          animation: introStayDark 8s 2s;
}

#camera.const {
  background: url(icons/cons_camera.png);
  background-size: cover;
}

#camera.lines {
  background: url(icons/lines_camera.png);
  background-size: cover;
}

#camera p {
  position: relative;
  top: 5em;
  left: 7em;
  -webkit-animation: introStayDark 8s 2s;
          animation: introStayDark 8s 2s;
}

#github.const {
  background: url(icons/cons_github.png);
  background-size: cover;
}

#github.lines {
  background: url(icons/lines_github.png);
  background-size: cover;
}

#github p {
  width: 10.5em;
  height: 10.5em;
  position: relative;
  top: 5.75em;
  left: -5.75em;
  -webkit-animation: introStayDark 8s 2s;
          animation: introStayDark 8s 2s;
}

#linkedin.const {
  width: 10.5em;
  height: 10.5em;
  background: url(icons/cons_linkedin.png);
  background-size: cover;
}


#linkedin.lines {
  background: url(icons/lines_linkedin.png);
  background-size: cover;
}

#linkedin p {
  position: relative;
  top: 2.5em;
  left: 1em;
  -webkit-animation: introStayDark 8s 2s;
          animation: introStayDark 8s 2s;
}

#travel.const {
  background: url(icons/cons_travel.png);
  background-size: cover;
}

#travel.lines {
  background: url(icons/lines_travel.png);
  background-size: cover;
}

#travel p {
  position: relative;
  top: 3.5em;
  left: 4em;
  -webkit-animation: introStayDark 8s 2s;
          animation: introStayDark 8s 2s;
}